<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type="text/css" href="../../assets/css/bootstrap-3.3.7/css/bootstrap.min.css" />

    <script src="../../assets/css/bootstrap-3.3.7/js/bootstrap.min.css"></script>

    <link rel='stylesheet' type="text/css" href="../../assets/css/basic.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
        .nav-tabs .active .nav-link {
            background-color: #fe8802;
            color: #FFF;
        }
        
        .nav-tabs li.active a:focus {
            background-color: #fe8802;
            color: #FFF;
        }
        
        .nav-tabs .nav-link:hover {
            background-color: #fe8802;
            color: #fff;
        }
        
        .nav-tabs .nav-link:hover .icon-tab-flight {
            background-position: -83px -44px
        }
        
        .nav-tabs .nav-link:hover .icon-tab-tour {
            background-position: -87px -19px
        }
        
        .nav-tabs .nav-link:hover .icon-tab-hotel {
            background-position: -85px 0
        }
        
        #popUp {
            border: #fe8802;
            border-style: double;
            border-radius: 0.5px;
            display: none;
            position: absolute;
            width: 600px;
            height: 300px;
            background-color: #fff;
            position: absolute;
            z-index: 1;
        }
        
        input {
            line-height: 28px;
            padding-left: 10px;
            width: 100%;
        }
        
        select {
            padding-left: 10px;
        }
        
        .row {
            padding-bottom: 6px;
        }
    </style>
</head>

<body>
    <form method="POST">
        <div class="container-fluid" style="width: 398px; background: #fdf5d1; position: relative;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active" style="width: 33%; margin-left: 0px">
                            <a style="text-align: center " class="nav-link" data-toggle='tab' href="#flight">
                                <span class="icon icon-tab-flight"></span>
                                <br/>
                                <span>Vé máy bay</span></a>
                        </li>
                        <li style="width: 33%; margin-left: 0px">
                            <a style="text-align: center" class="nav-link" data-toggle='tab' href="#tour">
                                <span class="icon icon-tab-tour"></span>
                                <br/>
                                <span>Tour</span></a>
                        </li>
                        <li style="width: 33%; margin-left: 0px">
                            <a style="text-align: center" class="nav-link" data-toggle='tab' href="#hotel">
                                <span class="icon icon-tab-hotel"></span>
                                <br/>
                                <span>Khách sạn</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id='flight' class='tab-pane fade in active'>
                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input id="idFrom" onclick="showPopup()" style="line-height: 28px" type="text" placeholder="Điểm đi" />
                                    <!---------------------POPUP Search---------------------->
                                    <script>
                                        var check = 0;

                                        function showPopup() {
                                            if ($('#popUp').css('display') == 'none') {
                                                $('#popUp').show();
                                                check = 1;
                                            } else {
                                                $('#popUp').hide();
                                                check = 0;
                                            }
                                        }

                                        function closePopUp() {
                                            $('#popUp').hide();
                                        }
                                        $(document).on('click touch', function(event) {
                                            if (!$(event.target).parents().addBack().is('#idFrom') & !$(event.target).parents().addBack().is('#popUp')) {
                                                $('#popUp').hide();

                                            }
                                        });
                                    </script>


                                    <div id='popUp'>
                                        <span style="float: left;margin-top:  10px">Chọn điểm đi</span>
                                        <div onclick="closePopUp()" style="float: right; margin-top: 10px;">
                                            <a href="#"><span class="icon glyphicon glyphicon-remove-circle" style="color: #3385d6;border-radius: 50%"></span>Đóng</a>
                                        </div>
                                        <hr style="margin-top: 40px" />

                                        <div>
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a data-toggle='tab' href="#menu1">Điểm đi trong nước</a>
                                                </li>
                                                <li>
                                                    <a data-toggle='tab' href="#menu2">Điểm đi quốc tế</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id='menu1' class='tab-pane fade in active'>

                                                    <ul class="list-group">
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Hà Nội </a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Hải Phòng</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Đà Nẵng</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">TP Hồ Chí Minh</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Cần Thơ</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Huế</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Huế</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Huế</a>
                                                        <a href="#" style="width: 30%;float: left;" class="list-group-item">Huế</a>
                                                    </ul>

                                                </div>
                                                <div id='menu2' class='tab-pane fade'>
                                                    <div class="list-group">
                                                        <a href="#" class="list-group-item">Hà Nội</a>
                                                        <a href="#" class="list-group-item">Hải Phòng</a>
                                                        <a href="#" class="list-group-item">Đà Nẵng</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---------------------End POPUP Search---------------------->
                                    <input type="text" style="margin-top: 20px" placeholder="24/10/2-18" />
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" placeholder="Điểm đến" />
                                    <input type="text" style="margin-top: 20px" placeholder="Ngày về" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label>Người lớn</label>
                                    <select style="width: 100%; height: 30px">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label>Trẻ em(2-12)</label>
                                    <select style="width: 100%; height: 30px">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label>Em bé(&#60;2)</label>
                                    <select style="width: 100%;height: 30px">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input style="line-height: 28px;
                                    padding-left: 10px;
                                    width: 10%;" type="checkbox" />
                                    <span>Tìm vé giá rẻ</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div style="margin-left: 0px;float: right;">
                                        <span style="color: #3385d6;border-radius: 50%" class="icon glyphicon glyphicon-question-sign"></span>
                                        <span>Hướng dẫn đặt vé</span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div style="background: blue;">
                                        <button style="width: 100%;color: #FFF;font-size: 20px; background: blue;height: 40px;border: none" type="submit">Tìm ngay</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div id='tour' class='tab-pane fade in'></div>
                        <div id='hotel' class='tab-pane fade in'></div>
                    </div>
                </div>
            </div>







        </div>
    </form>
</body>

</html>