<style type="text/css">
    .img-slide {
        height: 474px;
        box-sizing: border-box;
    }
    
    .img-slide .img-left {
        float: left;
        width: 80.6%;
        height: 470px;
    }
    
    .img-slide .img-left .img-left {
        width: 100%;
        height: 100%;
    }
    
    .img-slide .img-right {
        width: 19.2%;
        float: left;
        padding-left: 2px;
    }
    
    .img-right.middle {
        padding: 2px 0px 2px 2px;
    }
    
    .img-slide .more-img img {
        opacity: 0.5;
        z-index: 2;
    }
    
    .img-slide .more-img b {
        z-index: 3;
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="img-slide">
    <div id="lightgallery">
        <div class="img-left" data-responsive="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392a30.jpg 375, ../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392a30.jpg 480, ../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392a30.jpg"
            data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392a30.jpg" data-sub-html="">
            <a href="#">
                <img class="img-responsive" src="../../../../assets/lightGallery-master/img/img-combo/hotel.png">
            </a>
        </div>
        <div class="img-right" data-responsive="../../../../assets/lightGallery-master/img/1-375.jpg 375, ../../../../assets/lightGallery-master/img/1-480.jpg 480, ../../../../assets/lightGallery-master/img/1.jpg 800" data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392cf3.jpg"
            data-sub-html="">
            <a href="#">
                <img class="img-responsive" src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392cf3.jpg">
            </a>
        </div>
        <div class="img-right middle" data-responsive="../../../../assets/lightGallery-master/img/1-375.jpg 375, ../../../../assets/lightGallery-master/img/1-480.jpg 480, ../../../../assets/lightGallery-master/img/1.jpg 800" data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392e55.jpg"
            data-sub-html="">
            <a href="#">
                <img class="img-responsive" src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392e55.jpg">
            </a>
        </div>
        <div class="img-right more-img" data-responsive="../../../../assets/lightGallery-master/img/1-375.jpg 375, ../../../../assets/lightGallery-master/img/1-480.jpg 480, ../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392fc4.jpg"
            data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392fc4.jpg" data-sub-html="">
            <a href="#">
                <div style="background-color: #000 ;position: relative">
                    <b>+ 8 ảnh</b>
                    <img class="img-responsive " src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392fc4.jpg">
                </div>
            </a>
        </div>

        <div class="img-right hide" data-responsive="../../../../assets/lightGallery-master/img/1-375.jpg 375, ../../../../assets/lightGallery-master/img/1-480.jpg 480, ../../../../assets/lightGallery-master/img/1.jpg 800" data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392b8d.jpg"
            data-sub-html="">
            <a href="#">
                <img class="img-responsive" src="../../../../assets/lightGallery-master/img/img-combo/rom1.PNG">
            </a>
        </div>
        <div class="img-right" style="display: none" data-responsive="../../../../assets/lightGallery-master/img/1-375.jpg 375, ../../../../assets/lightGallery-master/img/1-480.jpg 480, ../../../../assets/lightGallery-master/img/1.jpg 800" data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392e55.jpg"
            data-sub-html="">
            <a href="#">
                <img class="img-responsive" src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392e55.jpg">
            </a>
        </div>
        <div class="img-right " style="display: none" data-responsive="../../../../assets/lightGallery-master/img/1-375.jpg 375, ../../../../assets/lightGallery-master/img/1-480.jpg 480, ../../../../assets/lightGallery-master/img/1.jpg 800" data-src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392e55.jpg"
            data-sub-html="">
            <a href="#">
                <img class="img-responsive" src="../../../../assets/lightGallery-master/img/img-combo/free-easy-tour-dao-ngoc-nong-nan-voi-vinpearl-phu-quoc-resort-novotel-phu-quoc-resort-5789c0b392e55.jpg">
            </a>
        </div>

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#lightgallery').lightGallery();
    });
</script>