<style>
    .background-container-detail .icon-location-black {
        background-position: -19px -881px;
        width: 16px;
        height: 19px;
        margin-top: -5px;
    }
    
    .icon {
        background-image: url('../../../../assets/img/icon/sprite@2x.101020181806.png');
    }
    
    .review-combo .progress {
        height: 10px;
    }
    
    .review-combo .point-review {
        width: 100%;
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding: 10px;
        background-color: #337ab7;
        border-radius: 3px;
    }
    
    .review-combo ._5o4h ._1gl3 {
        background-color: #fff;
        color: #000;
    }
    
    .review-combo .myboder-content-combo {
        margin: 0px;
        padding-top: 25px;
    }
</style>

<div class="review-combo">
    <div class="container-review">
        <div class="myboder-content-combo">
            <div style="background-color: #Dddddd">
                <span class="header-content">Đánh giá</span>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;padding-right: 0px">
                    <div id="fb-root"></div>
                    <script>
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=416607848685709&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-comments" data-width="100%" style="background-color: #fff;text-align: center;" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </div>

</div>