<style>
    .background-container-detail .icon-location-black {
        background-position: -19px -881px;
        width: 16px;
        height: 19px;
        margin-top: -5px;
    }
    
    .icon {
        background-image: url('../../../../assets/img/icon/sprite@2x.101020181806.png');
    }
    
    .similar-combo {
        background-color: #f1f1f1;
    }
    
    .col-xs-5.remove-padding-similar,
    .col-sm-5.remove-padding-similar,
    .col-md-5.remove-padding-similar,
    .col-lg-5.remove-padding-similar {
        padding: 0px 0px !important;
        margin: 0px 0px !important;
    }
    
    .col-xs-4.remove-padding-similar,
    .col-sm-4.remove-padding-similar,
    .col-md-4.remove-padding-similar,
    .col-lg-4.remove-padding-similar {
        padding: 0px 0px !important;
        margin: 0px 0px !important;
    }
    
    .similar-combo img {
        width: 100px;
        height: 100px;
    }
    
    .similar-combo .content-similar {
        background-color: #fff;
        margin: 10px;
        position: relative;
        min-height: 120px;
    }
    
    .content-similar .opacity-bottom {
        position: absolute;
        z-index: 2;
        background-color: #000;
        opacity: 0.5;
        bottom: 0px;
        left: 0px;
        width: 100px;
        height: 20%;
        text-align: center;
    }
    
    .opacity-bottom .icon-left {
        z-index: 3;
        position: absolute;
        bottom: -5px;
        left: 18px;
    }
    
    .opacity-bottom .icon-middle {
        z-index: 3;
        color: #feb30a;
        font-size: 22px;
        position: absolute;
        bottom: -5px;
        left: 42px;
    }
    
    .opacity-bottom .icon-right {
        z-index: 3;
        position: absolute;
        bottom: -5px;
        left: 56px;
    }
    
    .content-similar .title {
        padding: 5px 0px 0px 120px;
    }
    
    .title .title-top {
        color: #333;
        font-size: 14px;
    }
    
    .title .title-bottom {
        margin-top: 25px;
        margin-right: 10px;
        float: right;
    }
</style>

<div class="similar-combo">
    <div class="container">
        <h3 style="text-align: center">Combo Free & Easy tương tự</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 remove-padding-similar">
                <a href="#">
                    <div class="content-similar">
                        <div style="position: absolute;top:10px;left: 10px;">
                            <img src="../../../../assets/img//img-combo//similar1.PNG" alt="">
                            <div class="opacity-bottom">
                            </div>
                            <div>
                                <span class="icon-left icon-noi-dia icon-vmb-yellow margin-bottom-10"></span>
                                <span class='icon-middle'>+</span>
                                <span class="icon-right icon-noi-dia icon-ks-yellow margin-bottom-10"></span>
                            </div>
                        </div>
                        <div class="title">
                            <div class="title-top">
                                <span>Combo Vinpearl Phú Quốc Resort + vé máy bay</span>
                                <br/>
                                <span class="icon icon-grey-star-3"></span>
                            </div>
                            <div class="title-bottom">
                                <span style="color: #333;text-decoration: line-through">1.800.000đ</span>
                                <span style="color: #b20000;font-size: 19px">1.560.000đ</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 remove-padding-similar">
                <a href="#">
                    <div class="content-similar">
                        <div style="position: absolute;top:10px;left: 10px;">
                            <img src="../../../../assets/img//img-combo//similar1.PNG" alt="">
                            <div class="opacity-bottom">
                            </div>
                            <div>
                                <span class="icon-left icon-noi-dia icon-vmb-yellow margin-bottom-10"></span>
                                <span class='icon-middle'>+</span>
                                <span class="icon-right icon-noi-dia icon-ks-yellow margin-bottom-10"></span>
                            </div>
                        </div>
                        <div class="title">
                            <div class="title-top">
                                <span>Combo Vinpearl Phú Quốc Resort + vé máy bay</span>
                                <br/>
                                <span class="icon icon-grey-star-3"></span>
                            </div>
                            <div class="title-bottom">
                                <span style="color: #333;text-decoration: line-through">1.800.000đ</span>
                                <span style="color: #b20000;font-size: 19px">1.560.000đ</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 remove-padding-similar">
                <a href="#">
                    <div class="content-similar">
                        <div style="position: absolute;top:10px;left: 10px;">
                            <img src="../../../../assets/img//img-combo//similar1.PNG" alt="">
                            <div class="opacity-bottom">
                            </div>
                            <div>
                                <span class="icon-left icon-noi-dia icon-vmb-yellow margin-bottom-10"></span>
                                <span class='icon-middle'>+</span>
                                <span class="icon-right icon-noi-dia icon-ks-yellow margin-bottom-10"></span>
                            </div>
                        </div>
                        <div class="title">
                            <div class="title-top">
                                <span>Combo Vinpearl Phú Quốc Resort + vé máy bay</span>
                                <br/>
                                <span class="icon icon-grey-star-3"></span>
                            </div>
                            <div class="title-bottom">
                                <span style="color: #333;text-decoration: line-through">1.800.000đ</span>
                                <span style="color: #b20000;font-size: 19px">1.560.000đ</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
        <div class="col-xs-12 col-sm-12" style="text-align: center; padding: 30px ">
            <button style="width: 150px; padding-left: 10px;color: #696969;background-color: #f1f1f1; line-height: 40px; border: 1px #696969 solid;border-radius: 2px ">Xem thêm <span class="glyphicon glyphicon-menu-down"></span></button>
        </div>
    </div>

</div>